.intro {
    padding: 20rem 0 0 0;
    background: $body;
    @include media(768) {
        padding: 10rem 0 0 0;
    }
    @include media(500) {
        padding: 7rem 0 0 0;
    }
    &__inner {
        height: 57rem;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        background-image: url('../../img/intro.png');
        background-repeat: no-repeat;
        background-position: right center;
        background-size: contain;
        @include media(768) {
            background-position: right top;
        }
    }
    &__about {
        flex: 0 1 60rem;
        @include media(768) {
            padding: 3rem;
            background-color: rgba($wh, 0.3);
            backdrop-filter: blur(.5rem);
        }
        @include media(500) {
            padding: 1rem;
        }
        h1 {
            margin-bottom: 5rem;
            @include media(768) {
                margin-bottom: 3rem;
            }
            @include media(500) {
                margin-bottom: 2rem;
            }
            span {
                &:nth-child(1) {
                    color: $accent;
                }
                &:nth-child(2) {
                    color: $orange;
                }
            }
        }
    }
}