// COLOR
$body: #f5f6f7;
$main: #0F2336;
$wh: #ffffff;
$accent: #00CCCC;
$orange: #F8A644;
$light: #576D81;
$bg: #E3E6E8;
// TRANSITION
$tr: .2s linear;
// MEDIA
@mixin media($w) {
    @media only screen and (max-width: #{$w + px}) {
        @content;
    }
}
// BTN
.btn {
    display: inline-block;
    padding: 1.5rem 2.5rem;
    @include media(500) {
        padding: 1rem 2rem;
    }
    &--first {
        background-color: $main;
        color: $wh !important;
        border: .1rem solid $main;
        border-radius: .8rem;
        text-decoration: none !important;
        transition: $tr;
        &:hover {
            background-color: transparent;
            color: $main !important;
        }
    }
}
